    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/modernizr/modernizr.js"></script>
    <script src="/modernizr-browser/modernizr-browser.js"></script> 
	<script src="/jquery.cookie/jquery.cookie.js"></script>        
    <script src="/snap.svg/dist/snap.svg-min.js"></script>    
    <script src="/classie/classie.js"></script>    
    <script src="/javascripts/svgLoader.js"></script>    
 	<script src="/javascripts/setting.js"></script>      
  </body>
</html>